<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yanivproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/smartsplitlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smartsplitlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.YanivProject"
        tools:targetApi="31">
        
        <!-- Splash Activity -->
        <activity
            android:name=".screens.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.YanivProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".screens.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.YanivProject"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity
            android:name=".screens.NavActivity"
            android:exported="false" />
        <activity
            android:name=".screens.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UserDetails"
            android:exported="false" />
        <activity
            android:name=".screens.GroupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ExistentGroup"
            android:exported="false" />
        <activity
            android:name=".screens.AddNewEvent"
            android:exported="false" />
        <activity
            android:name=".screens.Register"
            android:exported="false" />
        <activity
            android:name=".screens.Login"
            android:exported="false" />
        <activity
            android:name=".screens.HomePage"
            android:exported="false" />
    </application>

</manifest>